<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/layout.css" />
  </head>
  <body>
    <header class="container-header">
      <a>Logotype</a>
      <input type="text" placeholder="Search" />
      <dev class="item-header-3">
        <a href="/views/my-books.html">My Books</a>
        <a href="/views/login.html">Log In</a>
        <a href="/views/signup.html"><button>Sign Up</button></a>
      </dev>
    </header>
    <main>
      <img src="/static/welcome.png" width="100%" />
      <dev class="container-trending">
        <h1 class="item-title">This Week's Trending</h1>
        <dev class="item-trending-1">
          <img src="/static/book.jpg" class="image-trending" />
          <h2>Title</h2>
          <p>Author</p>
          <a href="/views/book.html"><button>Read More</button></a>
        </dev>
        <dev class="item-trending-2">
          <img src="/static/book.jpg" class="image-trending" />
          <h2>Title</h2>
          <p>Author</p>
          <a href="/views/book.html"><button>Read More</button></a>
        </dev>
        <dev class="item-trending-3">
          <img src="/static/book.jpg" class="image-trending" />
          <h2>Title</h2>
          <p>Author</p>
          <a href="/views/book.html"><button>Read More</button></a>
        </dev>
      </dev>
    </main>
    <footer>
      <h4>Developers:</h4>
      <p>6610040435 Caroline Frössling</p>
      <p>6510545675 Phavida Rattanamongkolkul</p>
      <p>6510545519 Napasorn Tevarut</p>
    </footer>
  </body>
</html>
