<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/layout.css" />
  </head>
  <body>
    <header class="container-header">
      <a>Logotype</a>
      <input type="text" placeholder="Search" />
      <dev class="item-header-3">
        <a href="/views/my-books.html">My Books</a>
        <a href="/views/login.html">Log In</a>
        <a href="/views/signup.html"><button>Sign Up</button></a>
      </dev>
    </header>
    <main>
      <dev class="container-form">
        <dev class="item-form">
          <h3>Log In</h3>
          <input type="text" placeholder="Username" />
          <p></p>
          <input type="text" placeholder="Password" />
          <p></p>
          <button>Log In</button>
        </dev>
      </dev>
    </main>
    <footer>
      <h4>Developers:</h4>
      <p>6610040435 Caroline Frössling</p>
      <p>6510545675 Phavida Rattanamongkolkul</p>
      <p>6510545519 Napasorn Tevarut</p>
    </footer>
  </body>
</html>
