@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

body {
  margin: 0px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
}

/* Buttons */

button {
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  font-family: "JetBrains Mono", monospace;
  font-size: 17px;
  color: #0f2c59;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #bdd2db;
  color: #ffffff;
}

/* Input fields */

input {
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  font-family: "JetBrains Mono", monospace;
}

/* Links */

a {
  color: #0f2c59;
  text-decoration: none;
}

a:visited:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Header */

header {
  background-color: #bdd2db;
  padding: 30px;
}

.container-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.item-header-3 {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  justify-content: right;
  align-items: center;
}

/* Footer */

footer {
  background-color: #bdd2db;
  color: #0f2c59;
  padding: 10px 30px;
  font-size: 12px;
}

/* Trending Books */

.container-trending {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 50px;
}

.item-title {
  color: #0f2c59;
  padding-top: 15px;
}

.item-trending-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px -4px #000000;
  justify-self: stretch;
  background-color: #bdd2db;
  color: #0f2c59;
}

.item-trending-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 10px;
  box-shadow: 2px 2px 10px -4px #000000;
  justify-self: stretch;
  background-color: #bdd2db;
  color: #0f2c59;
}

.item-trending-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  border-radius: 10px;
  box-shadow: 2px 2px 10px -4px #000000;
  justify-self: stretch;
  background-color: #bdd2db;
  color: #0f2c59;
}

.image-trending {
  width: 230px;
  object-fit: contain;
  float: left;
  border-radius: 10px;
  padding-right: 20px;
}

/* Sign Up and Log In Forms*/

.container-form {
  display: grid;
  grid-template-columns: 700px;
  grid-template-rows: 400px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.item-form {
  border-radius: 10px;
  box-shadow: 2px 2px 10px -4px #000000;
  justify-self: stretch;
  color: #f8f0e5;
  background-color: #0f2c59;
  padding: 50px;
}
